* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border {
    border: none !important;
}

.d-flex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: space-around;
}

.active {
    display: block !important;
}

.img {
    display: none;
}

.cycle {
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 1%;
}

.light {
    background-color: yellow;
}

.pointer {
    cursor: pointer;
}